<div class="container">
  <div class="photoes">
    <div class="img1">
      <img src="../../assets/DSC_3343.JPG" class="img" alt="img1">
    </div>
    <div class="img2">
      <img src="../../assets/Jeff.jpg" class="img" alt="img2">
    </div>
    <div class="img3">
      <img src="../../assets/Marissa.jpg" class="img" alt="img3">
    </div>
    <div class="img4">
      <img src="../../assets/Mark.jpg" class="img" alt="img4">
    </div>
    <div class="img5">
      <img src="../../assets/satya.jpg" class="img" alt="img5">
    </div>
    <div class="img6">
      <img src="../../assets/sundhar.jpg" class="img" alt="img6">
    </div>
    <div class="img7">
      <img src="../../assets/Tim.jpg" class="img" alt="img7">
    </div>
  </div>
</div>
